@page "{id:int?}"
@model ResturentWebRazor.Pages.Resturents.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Editing @Model.Resturant.Name</h1>

<form method="post">
    <input type="hidden" asp-for="Resturant.Id" />

    <div class="form-group">
        <label asp-for="Resturant.Name"></label>
        <input asp-for="Resturant.Name" class="form-control col-4" />
    </div>
    <div class="form-group">
        <label asp-for="Resturant.Location"></label>
        <input asp-for="Resturant.Location" class=" col-4 form-control " />
    </div>

    <div class=" form-group">
        <label asp-for="Resturant.Cuisine"></label>
        <select asp-items="Model.Cuisines" class=" col-4 form-control"></select>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>